electron/angular/angular-electron-can/.vscode/extensions.json
electron/angular/angular-electron-can/.vscode/launch.json
electron/angular/angular-electron-can/.vscode/settings.json
electron/angular/angular-electron-can/.vscode/tasks.json
electron/angular/angular-electron-can/.editorconfig
electron/angular/angular-electron-can/.gitignore
electron/angular/angular-electron-can/bun.lock
